<footer class="py-5 bg-dark text-light link-light">

<div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-2 mb-3 text-center">
        <h5>Section 1</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a class="nav-link p-0 link-light" href="../">Home</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 link-light" href="/about">About</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 link-light" href="/extras">Extras</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 link-light" href="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-2 mb-3 text-center">
        <h5>Section 2</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a class="nav-link p-0 link-light" href="../">Home</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 link-light" href="/about">About</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 link-light" href="/extras">Extras</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 link-light" href="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-2 mb-3 text-center">
        <h5>Section 3</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a class="nav-link p-0 link-light" href="../">Home</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 link-light" href="/about">About</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 link-light" href="/extras">Extras</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 link-light" href="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3 text-center text-md-left">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p><small>Monthly digest of what's new and exciting from us.</small></p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top text-center text-md-left">
      <p>Copyright &copy; <span id="spanYear">2024</span> Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex justify-content-center">
        <li class="ms-3"><a class="link-light" href="#"><i class="bi bi-facebook" style="font-size: 24px"></i></a></li>
        <li class="ms-3"><a class="link-light" href="#"><i class="bi bi-instagram" style="font-size: 24px"></i></a></li>
        <li class="ms-3"><a class="link-light" href="#"><i class="bi bi-youtube" style="font-size: 24px"></i></a></li>
        <li class="ms-3"><a class="link-light" href="#"><i class="bi bi-github" style="font-size: 24px"></i></a></li>
        <li class="ms-3"><a class="link-light" href="#"><i class="bi bi-linkedin" style="font-size: 24px"></i></a></li>
        <li class="ms-3"><a class="link-light" href="#"><i class="bi bi-envelope-fill" style="font-size: 24px"></i></a></li>
        <li class="ms-3"><a class="link-light" href="#"><i class="bi bi-chat-dots-fill" style="font-size: 24px"></i></a></li>
      </ul>
    </div>
</div>

</footer>